

      <h3 class="heading-medium">Active codes</h3>

      <table>
        <thead>
          <tr>
            <th scope="col">Code</th>
            <th class="numeric" scope="col">Created</th>
            <th class="numeric" scope="col">Expiry</th>
            <th class="numeric" scope="col">Print</th>
            <th class="numeric" scope="col">Cancel</th>
          </tr>
        </thead>
        <tbody>
          <!-- has generated code -->
          {% if data.get_check_code=="done" %}
            <tr>
              <td>1A7Q5K8S</td>
              <td class="numeric">Just now</td>
              <td class="numeric">27 9 2016</td>
              <td class="numeric"><a href="#">Print</a></td>
              <td class="numeric"><a href="#">Cancel</a></td>
            </tr>
          {% endif %}
          {% if data.cancelled==undefined %}
            <tr>
              <td>U84FD3K2</td>
              <td class="numeric">12 8 2016</td>
              <td class="numeric">5 9 2016</td>
              <td class="numeric"><a href="#">Print</a></td>
              <td class="numeric"><a href="/lpa/share/cancel-code{{ formQuery | safe }}">Cancel</a></td>
            </tr>
          {% endif %}  
        </tbody>
      </table>

      <h3 class="heading-medium">Used codes</h3>

            <table>
        <thead>
          <tr>
            <th scope="col">Code</th>
            <th class="numeric" scope="col">Created</th>
            <th class="numeric" scope="col">Used</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>5H2L7X9A</td>
            <td class="numeric">2 8 2016</td>
            <td class="numeric">4 8 2016</td>
          </tr>
        </tbody>
      </table>

      <h3 class="heading-medium">Expired codes</h3>

      <table>
        <thead>
          <tr>
            <th scope="col">Code</th>
            <th class="numeric" scope="col">Created</th>
            <th class="numeric" scope="col">Expired</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>9G2J4W5S</td>
            <td class="numeric">3 4 2016</td>
            <td class="numeric">24 4 2016</td>
          </tr>
        </tbody>
      </table>

      <h3 class="heading-medium">Cancelled codes</h3>

      <table>
        <thead>
          <tr>
            <th scope="col">Code</th>
            <th class="numeric" scope="col">Created</th>
            <th class="numeric" scope="col">Cancelled</th>
            <th class="numeric" scope="col">Undo</th>
          </tr>
        </thead>
        <tbody>
          {% if data.cancelled=="yes" %}
            <tr>
              <td>U84FD3K2</td>
              <td class="numeric">12 8 2016</td>
              <td class="numeric">Just now</td>
              <td class="numeric"><a href="#">Undo</a></td>
            </tr>
          {% endif %}  
          <tr>
            <td>5T4D9J2X</td>
            <td class="numeric">3 9 2016</td>
            <td class="numeric">5 9 2016</td>
            <td class="numeric"><a href="#">Undo</a></td>
          </tr>
        </tbody>
      </table>