

      <h3 class="heading-medium">Active codes</h3>

      <table>
        <thead>
          <tr>
            <th scope="col">Code</th>
            <th class="numeric" scope="col">Created</th>
            <th class="numeric" scope="col">Expiry</th>
            <th class="numeric" scope="col">Print</th>
            <th class="numeric" scope="col">Cancel</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>U8 4F D3 K2</td>
            <td class="numeric">12 8 2016</td>
            <td class="numeric">5 9 2016</td>
            <td class="numeric"><a href="#">Print</a></td>
            <td class="numeric"><a href="/lpa/share/cancel-code">Cancel</a></td>
          </tr>
        </tbody>
      </table>

      <h3 class="heading-medium">Used codes</h3>

            <table>
        <thead>
          <tr>
            <th scope="col">Code</th>
            <th class="numeric" scope="col">Created</th>
            <th class="numeric" scope="col">Used</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>5H 2L 7X 9A</td>
            <td class="numeric">2 8 2016</td>
            <td class="numeric">4 8 2016</td>
          </tr>
        </tbody>
      </table>

      <h3 class="heading-medium">Expired codes</h3>

      <table>
        <thead>
          <tr>
            <th scope="col">Code</th>
            <th class="numeric" scope="col">Created</th>
            <th class="numeric" scope="col">Expired</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>9G 2J 4W 5S</td>
            <td class="numeric">3 4 2016</td>
            <td class="numeric">24 4 2016</td>
          </tr>
        </tbody>
      </table>

      <h3 class="heading-medium">Cancelled codes</h3>

      <table>
        <thead>
          <tr>
            <th scope="col">Code</th>
            <th class="numeric" scope="col">Created</th>
            <th class="numeric" scope="col">Cancelled</th>
            <th class="numeric" scope="col">Undo</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>5T 4D 9J 2X</td>
            <td class="numeric">3 4 2016</td>
            <td class="numeric">24 4 2016</td>
            <td class="numeric"><a href="#">Undo</a></td>
          </tr>
        </tbody>
      </table>