{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        <span class="design-pattern">Share my licence</span>
        Lasting power of attorney
      </h1>

			<ul class="list list-bullet">
				<li><a href="/lpa/share/start-page">Share my lasting power of attorney</a></li>
        <li><a href="/lpa/check/start-page">Check someones lasting power of attorney</a></li>
			</ul>

    </div>
  </div>
</main>

{% endblock %}


