{% extends "layout.html" %} {% block page_title %} Example - Forms {% endblock %} {% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="get" action="/lpa/check/view_permissions" class="form">

      {{formData | safe}}

        <h1 class="heading-large">
          Enter details
        </h1>

        <br>

        <fieldset>
          <legend class="visuallyhidden">
            Enter details
          </legend>

          <div class="form-group" id="enter-details">
            <label class="form-label" for="lpa_number">OPG reference number</label>
            <span class="form-hint">For example, HDJ2123F</span>
            <input class="form-control" id="lpa_number" name="lpa_number" type="text">
          </div>

          <details style="margin-bottom:18px;"> 

            <summary><span class="summary">I don't know this number</span></summary>

            <div class="panel panel-border-narrow">

              <p>
                You can ask the person with lasting power of attorney for this number. 
              </p>

            </div>

          </details>

          <div class="form-group" id="enter-details">
            <label class="form-label" for="password">Check code</label>
            <input class="form-control" id="password" name="password" type="text">
          </div>

          <details style="margin-bottom:18px;">

            <summary><span class="summary">How do I get a code?</span></summary>

            <div class="panel panel-border-narrow">

              <p>
                The person with lasting power of attorney needs to share this with you.
              </p>

              <p>
                To generate a check code the person should visit <a href="/lpa/share/start-page">www.gov.uk/share-lpa-information</a>.
              </p>

            </div>

          </details>

        </fieldset>

        <div class="form-group">
          <input type="submit" class="button" value="Check" />
        </div>

      </form>

    </div>
  </div>

</main>
{% endblock %}
