{% extends "layout.html" %}

{% block page_title %}
  Confirmation page example
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

    <h2 class="heading-large">Has permission to:</h2>

    <p>Financial decisions:</p>

      <ul class="list list-bullet">
        <li>running your bank and savings accounts</li>
        <li>making or selling investments</li>
        <li>paying your bills</li>
        <li>buying or selling your house</li>
      </ul>

    </div>
  </div>

</main>

{% endblock %}
