{% extends "layout.html" %}

{% block page_title %}
  Summary: lasting power of attorney
{% endblock %}

{% block content %}

<main id="content" role="main">

{% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">


      <div class="share-code-highlight">
        <h1 class="bold-large">Ginny Weasley</h1>
        <p style="margin-top:18px;">has permission to make decisions on behalf of</p>
        <h1 class="bold-large">Arthur Weasley</h1>
        <p style="margin-top:36px;">
          OPG reference number is <br>
          <strong class="heading-medium">HDJ2123F</strong>
        </p>
      </div>

  <p>
    <a href="#">Print out</a><br>
    <a href="#">Finish session</a>
  </p>  

  <table class="check-your-answers">

    <thead>
      <tr>
        <th colspan="2">
          <h2 class="heading-medium">
            Arthur Weasley
          </h2>
        </th>
        <th>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          Date of birth
        </td>
        <td>
          21 8 1951<br>
        </td>
        <td class="change-answer">
          <a href="#">
            Verify<span class="visuallyhidden">Exporter name</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Address
        </td>
        <td>
          25 The Crescent<br>
          Doncaster<br>
          DN2 4JF
        </td>
        <td class="change-answer">
          <a href="#">
            Verify <span class="visuallyhidden">Producer name</span>
          </a>
        </td>
      </tr>
    </tbody>
  </table>

<table class="check-your-answers">

    <thead>
      <tr>
        <th colspan="2">
          <h2 class="heading-medium">
            Ginny Weasley
          </h2>
        </th>
        <th>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          Date of birth
        </td>
        <td>
          31 7 1981<br>
        </td>
        <td class="change-answer">
          <a href="#">
            Verify<span class="visuallyhidden">Exporter name</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Address
        </td>
        <td>
          42 Gellatly Road<br>
          Peckham<br>
          SE14 5TT
        </td>
        <td class="change-answer">
          <a href="#">
            Verify <span class="visuallyhidden">Producer name</span>
          </a>
        </td>
      </tr>
    </tbody>
  </table>

    <h2 class="heading-medium">Decisons Ginny Weasley has permission to make</h2>

    <p>Financial decisions:</p>

      <ul class="list list-bullet">
        <li>running a bank and savings accounts</li>
        <li>making or selling investments</li>
        <li>paying bills</li>
        <li>buying or selling a house</li>
      </ul>

    <p>Health and care decisions:</p>

      <ul class="list list-bullet">
        <li>the type of health care and medical treatment Arthur
receives, including life-sustaining treatment</li>
        <li>where Arthur lives</li>
        <li>day-to-day matters such as Arthur's diet and daily routine</li>
      </ul>

    </div>
  </div>

</main>

{% endblock %}
