{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Share my licence
      </h1>

      <p class="lede">Pattern for users to Share and check some personal data to do something.</p>

      <p><a href="/guidance">Guidance</a> about why and when to use this pattern</p>

      <p>Examples:</p>

			<ul class="list list-bullet">
				<li><a href="/lpa">Lasting power of attorney</a></li>
			</ul>

    </div>
  </div>
</main>

{% endblock %}


