{% extends "layout.html" %}

{% block page_title %}
  Share my data
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Share my data
      </h1>

      <p class="lede">Patterns for users to share personal data to do something</p>

      <p>Examples:</p>

			<ul class="list list-bullet">
				<li><a href="/lpa">Lasting power of attorney</a></li>
			</ul>

    </div>
  </div>
</main>

{% endblock %}


