{% extends "layout.html" %}

{% block page_title %}
  Cancel code
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

    {{formData | safe}}

      <div class="govuk-box-highlight">
        <h1 class="bold-large">Code cancelled</h1>
        <p>
          The check code you cancelled is <br>
          <strong class="heading-medium">U84FD3K2</strong>
        </p>
      </div>
      <p>You can <a href="#">undo</a> cancelling this check code.</p>

      {% include "includes/share_codes.html" %}

    </div>
  </div>

</main>

{% endblock %}
